for font in proxima-nova source-code-pro-extra-light ss-social-regular
  @font-face
    font-family font
    font-style normal
    src: url('../fonts/'+font+'.eot')
    src: url('../fonts/'+font+'.eot?#iefix') format('embedded-opentype'), url('../fonts/'+font+'.woff') format('woff'), url('../fonts/'+font+'.ttf') format('truetype'), url('../fonts/'+font+'.svg#'+font) format('svg')