---
dark_logo: "true"
---
{% include code-header.html %}
{% include header.html %}

<section class="main">
  <article class="post {{ page.type }}">
    <div class="wrap" title="{{page.title}}">
      {% if page.type == "image" %}
        {{content}}
      {% else %}
        <h2>{{ page.title }}</h2>
        {{content}}
        <p class="permalink">
          Posted on {{ page.date | date: "%B %d, %Y" }}
        </p>
      {% endif %}
    </div>
  </article>
</section>

{% include footer.html %}
{% include code-footer.html %}